[submodule "ISO8601DateFormatter"]
	path = ISO8601DateFormatter
	url = git://github.com/danielctull-forks/iso-8601-date-formatter.git
[submodule "Configurations"]
	path = Configurations
	url = git://github.com/danielctull/Xcode-Configurations.git
